name: Deploy DotNet project to Azure Function App

on:
  [push]

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@master

    - name: Fetch all history for all tags and branches
      run: git fetch --prune --unshallow
      
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.2
      with:
          versionSpec: '5.2.x'
          
    - name: Use GitVersion
      uses: GitTools/actions@v0.9.3
                  
    - name: Setup DotNet Environment
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.100' # SDK Version to use.
            
    - name: 'Build function'
      shell: pwsh
      run: 
        dotnet build label-sync-bot.sln --configuration Release --output ./output        

    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: label-sync-bot
        package: './output'
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}

# For more samples to get started with GitHub Action workflows to deploy to Azure, refer to https://github.com/Azure/actions-workflow-samples
